@media (max-width: 720px) {
    body {
        background-color: #40A2E3;
    }

    h1 {
        background-color: #0D9276;
        color: #FFF6E9;
        margin: 0;
        margin-bottom: 25px;
        font-size: 4rem;
        font-family: "Fredoka", sans-serif;
        font-optical-sizing: auto;
        font-weight: 900;
        font-style: normal;
        font-variation-settings:
            "wdth" 100;
    }

    .container {
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    .flex-item {
        background-color: #FFF6E9;
        color: #40A2E3;
        margin-bottom: 10px;
        padding: 10px;
        border-radius: 5px;
        font-size: 2.5rem;
        font-family: "Fredoka", sans-serif;
        font-optical-sizing: auto;
        font-weight: 900;
        font-style: normal;
        font-variation-settings:
        "wdth" 100;
    }
    a  {
        text-decoration: none;
    }
    a :hover {
        background-color: #0D9276;
    }
    
}